html,
body {
	font-family: Verdana, 'Geneva', Tahoma, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 100%;
	background-color: #747ca8;
}

.calculator {
	background-color: #dbdbdb;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 310px;
	padding-bottom: 8px;
	border: 3px solid grey;
	border-radius: 2%;
	box-shadow: 1px 1px 15px #4d4d4d;
}

.display {
	background-color: rgb(199, 255, 224);
	border: 3px solid grey;
	width: 275px;
	min-height: 60px;
	margin: 10px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	word-wrap: break-word;
}

.text-small {
	margin: 2px 5px;
	font-size: 15px;
	word-wrap: break-word;
	max-width: 280px;
}

.text {
	align-self: flex-end;
	margin: 2px 5px;
	font-size: 30px;
	word-wrap: break-word;
	max-width: 280px;
}

.middle-row,
.first-row,
.second-row,
.third-row,
.fourth-row {
	display: flex;
}

button {
	font-size: 20px;
	font-weight: 500;
	width: 70px;
	height: 45px;
	margin: 2px;
	border-radius: 6%;
}

.key-large {
	width: 144px;
}

.clear {
	background-color: #f32f2f;
	color: white;
	font-weight: bold;
}

.equals-sign {
	background-color: #4e4eff;
	color: white;
	font-weight: bold;
}